.gdrive-screenshot {
    display: flex;
    width: 50%;
}

.gdrive-screenshot img {
    width:50%;
}

.unity-screenshot {
    display: flex;
    width: 40%;
}

.unity-screenshot img {
    width: 100%;
}

.round-button {
    padding: 0px 20px;
    display: inline-flex;
    height:30px;
    line-height:30px;
    background:#0033ff;
    color:#fff;
    border-radius:25px;
    text-align:center;
    border:none;
}